.section8 {
	background: #f9f9f9;
	overflow: hidden;
}

.section8 .section8flexcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 100px;
	.creatives {
		width: 25%;
		padding: 15px;
		font-size: 0;
		position: relative;
		img {
			width: 100%;
			height: 290px;
		}
		ul {
			width: 100%;
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 38px 0 22px 0;
			li {
				list-style-type: none;
				padding: 10px;
				a {
					text-decoration: none;
					color: $pgray;
					font-size: 1.3rem;
				}
				a:hover {
					color: $skyblue;
				}
			}
		}
		h6 {
			text-align: center;
			color: white;
			font-size: 1.3rem;
			span {
				font-size: 0.9rem;
			}
		}
	}
}

.section8 h2 {
	text-align: center;
	color: $h6gray;
	margin: 95px 0 25px 0;
}

.creatives .foundercontainer {
	position: absolute;
	top: 285px;
	left: 50%;
	transform: translateX(-50%);
	width: 71%;
}

.creatives h6 {
	padding: 10px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.creatives .reena {
	background: $skyblue;
}

.creatives .jenefir {
	background: #eb748b;
}

.creatives .david {
	background: #c281d4;
}

.creatives .rabecca {
	background: #68bf9b;
}

.foundercontainer.reena{
	::before {
		content: "";
		position: absolute;
		border-right: 20px solid $skyblue;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		left: -20px;
	}
	::after {
		content: "";
		position: absolute;
		border-left: 20px solid $skyblue;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		right: -20px;
	}	
}

.creatives .jenefir {
	::before {
		content: "";
		position: absolute;
		border-right: 20px solid #eb748b;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		left: -20px;
	}
	::after {
		content: "";
		position: absolute;
		border-left: 20px solid #eb748b;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		right: -20px;
	}	
}

.creatives .david {
	::before {
		content: "";
		position: absolute;
		border-right: 20px solid #c281d4;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		left: -20px;
	}
	::after {
		content: "";
		position: absolute;
		border-left: 20px solid #c281d4;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		right: -20px;
	}	
}

.creatives .rabecca {
	::before {
		content: "";
		position: absolute;
		border-right: 20px solid #68bf9b;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		left: -20px;
	}
	::after {
		content: "";
		position: absolute;
		border-left: 20px solid #68bf9b;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		bottom: 0;
		right: -20px;
	}	
}

@media (max-width: 960px) {
	.section8 .section8flexcontainer {
		flex-wrap: wrap;
		width: 60%;
		margin: 0 auto;
		.creatives {
			width: 50%;
		}
	}
}

@media (max-width: 860px) {
	.section8 .section8flexcontainer {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.section8 .section8flexcontainer {
		width: 80%;
	}
}

@media (max-width: 640px) {
	.section8 .section8flexcontainer {
		width: 50%;
		.creatives {
			width: 100%;
		}
	}
}

@media (max-width: 500px) {
	.section8 .section8flexcontainer {
		width: 60%;
	}
}

@media (max-width: 414px) {
	.section8 .section8flexcontainer {
		width: 80%;
	}
}



