.section10 {
	background: #f9f9f9;
	.wrapper {
		padding: 100px;
		.clients {
			img {
				padding: 0 20px;
			}
		}
	}
}

@media (max-width: 768px) {
	.section10 .wrapper {
		padding: 100px 20px;
	}
}

@media (max-width: 480px) {
	.section10 {
		display: none;
	}
}