.section4 {
	background: #f9f9f9;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.section4col {
			width: 30%;
			padding: 0 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			img {
				width: 70%;
			}
			.col {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: 25px;
				i {
					padding: 20px;
					border-radius: 50%;
					font-size: 2.5rem;
					color: white;
				}
				i.fa-tags, i.cam2 {
					background: $skyblue;
				}
				i.fa-camera, i.bug2 {
					background: #68bf9b;
				}
				i.fa-bug {
					background: #eb748b;
				}
				i.tag2 {
					background: #c281d4;
				}
				.coltext {
					padding-left: 30px;
					h6 {
						margin: 0;
					}
					p {
						font-size:1.3rem;
						color: $pgray;
					}
				}
			}
		}	
	}
}

@media (max-width: 940px) {
	.section4 .wrapper .section4col .col i {
		font-size: 2.1rem;
		padding: 10px;
	}
}

@media (max-width: 840px) {
	.section4 .wrapper .section4col {
		padding: 0 5px;
	}
}

@media (max-width: 768px) {
	.section4 .wrapper {
		justify-content: center;
	}
	.section4 .wrapper .section4col:first-of-type {
		display: none;
	}
	.section4 .wrapper .section4col {
		width: 45%;
		padding: 40px 0;
		.col .coltext {
			padding: 0 10px;
		}
	}
}

@media (max-width: 570px) {
	.section4 .wrapper {
		flex-direction: column;
		padding-top: 40px;
		.section4col {
			width: 95%;
			padding: 0;
		}
		.section4col:last-of-type {
			padding-bottom: 40px;
		}
	}
}