.section5 {
	.wrapper {
		text-align: center;
		width: 100%;
		margin: 0 auto;
		h2 {
			color: $h6gray;
			margin: 0;
			padding-top: 100px; 
			padding-bottom:  25px;
		}
		ul:first-of-type {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			padding: 0;
			li {
				list-style-type: none;
				text-align: center;
				padding: 0;
				margin: 0;
				color: $pgray;
				font-weight: 600;
				font-size: 1.3rem;
				a {
					text-decoration: none;
					color: $pgray;
				}
				a:hover {
					color: $skyblue;
				}
			}
			li::after {
				content: "/";
				padding: 0 28px;
			}
			li:last-of-type::after {
				content: none;
			}
		}
	}
}

ul.projectimages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 50px 0 100px 0;
	margin: 0;
	li {
		width: 33%;
		height: 265px;
		position: relative;
		list-style-type:none;
		img {
			width: 100%;
			height: 100%;
		}
		.projectcover {
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba(255,255,255,0.8);
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			visibility: hidden;
			p {
				color: $h6gray;
				font-size: 1.3rem;
				padding: 0 30px;
				span {
					color: $pgray;
					font-size: 0.9rem;
				}
			}
			.projicons {
				display: flex;
				justify-content: space-around;
				width: 25%;
			}
			.projicons .fa-link {
				color: $skyblue;
				padding: 12px;
				border: 1px solid $skyblue;
				border-radius: 50%;
				background: rgba(255,255,255,0.8);
			}
			.projicons .fa-search {
				@extend .fa-link;
				color: white;
				background: $skyblue;
				opacity: 0.8;
			}
		}
	}
}

ul.projectimages li:hover .projectcover {
	visibility: visible;
}

@media (max-width: 940px) {
	.projectimages li .projectcover {
		padding: 10px 10px;
	}
	.projectimages li .projectcover p {
		font-size: 1.1rem;
		padding: 0;
		span {
			font-size: 0.6rem;
		}
	}
	.projectimages li .projectcover .projicons .fa-link {
		margin-right: 10px;
	}
}

@media (max-width: 860px) {
	.section5 .wrapper ul:first-of-type {
		flex-wrap: wrap;
	}
	.section5 .wrapper .projectimages li {
		width: 50%;
		.projectcover {
			visibility: visible;
		}
		.projectcover p {
			font-size: 1.5rem;
			padding: 0 20px;
			span {
				font-size: 0.9rem;
			}
		}
	}
}

@media (max-width: 640px) {
	.section5 .wrapper ul:first-of-type {
		width: 80%;
		li {
			padding: 10px 10px;
			a {
				text-decoration: underline;
			}
		}
		li::after {
			content: none;
		}
	}
	.section5 .wrapper .projectimages li {
		width: 80%;
		margin: 10px 0;
	}
}






