.section3 {
	background-image: linear-gradient(rgba(104, 191, 155, 0.7), rgba(104, 191, 155, 0.7)) ,url('../images/mountainbackground-min.jpeg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 465px;
	overflow: hidden;
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 40%;
			li {
				width: 16%;
				list-style-type: none;
				padding: 0;
				align-self: center;
				margin: auto;
				img {
					width: 70%;
					border-radius: 100%;
					opacity: 0.6;
				}
				img:hover {
					opacity: 1;
				}
			}
		}
		.section3carousel {
			text-align: center;
			color: white;
			font-size: 2rem;
			width: 90%;
			height: 170px;
			.quote {
				width: 70%;
			}
		}
	}
}

@media (max-width: 940px) {
	.section3 {
		height: 400px;
	}
	.section3 .wrapper .section3carousel {
		font-size: 1.6rem;
	}
}

@media (max-width: 768px) {
	.section3 .wrapper .section3carousel {
		font-size: 1.2rem;
		height: auto;
	}
}

@media (max-width: 640px) {
	.section3 {
		height: 290px;
	}
	.section3 .wrapper ul {
		width: 70%;
	}
}













