.section6 {
	background: #f9f9f9;
	width: 100%;
	margin: 0 auto;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		p {
			color: $pgray;
			font-size: 1.3rem;
		}
		.section6col {
			padding: 65px 0;
			h6 {
				margin: 40px 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.section6 .wrapper {
		flex-wrap: wrap;
		.section6col {
			width: 50%;
			padding: 65px 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			p {
				padding: 0 20px;
			}
		}
	}
}

@media (max-width: 414px) {
	.section6 .wrapper .section6col {
		width: 100%;
		h6 {
			margin: 20px 0;
		}
		p {
			padding: 0 40px;
		}
	}
}

