$h6gray: #696969;
$pgray: #969595;
$headerblue: rgba(60, 187, 232, 0.85);
$headergreen: rgba(82, 141, 44, 0.85);
$skyblue: #3caae0;

html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	max-width: 1171px;
	margin: 0 auto;
}

body {
	h2 {
		font-size: 2.9rem;
		font-weight: 400;
	}
	h6 {
		font-size: 1.3rem;
		color: $h6gray;
	}
	@media (max-width: 940px) {
		padding: 2px;
	}
}

