.contactMethods {
	background: #f9f9f9;
}

.contactMethods .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 100px 0;
	.method {
		width: 30%;
		text-align: center;
		background: white;
		padding: 60px 20px;
		i {
			font-size: 2.3rem;
			color: $skyblue;
		}
		p {
			color: $pgray;
			font-size: 1.3rem;
		}
	}
	.method:hover {
		border: 1px solid $skyblue;
	}
}

@media (max-width: 700px) {
	.contactMethods .wrapper {
		flex-direction: column;
		.method {
			width: 80%;
			margin: 20px;
			padding: 10px 20px;
		}
	}
}
