.contactMap .wrapper {
	display: flex;
	.contact {
		padding: 0 15px;
		width: 50%;
		h2 {
			color: $h6gray;
		}
		margin-bottom: 100px;
	}
	.contact.form form {
		display: flex;
		flex-direction: column;
		.faUserContainer {
			width: 100%;
			input,
			textarea {
				padding: 20px;
				margin-bottom: 6px;
				font-size: 1.3rem;
				border: 2px solid #f9f9f9;
				color: #a9a9a9;
				width: 100%;
			}
		}
		.faUserContainer {
			position: relative;
			i {
				position: absolute;
				left: 93%;
				top: 50%;
				transform: translateY(-50%);
				color: #a9a9a9;
				font-size: 1.9rem;
			}
			i.fa-comments {
				top: 13%;
			}
		}
		input[type=submit] {
			border: none;
			padding: 20px;
			background: $skyblue;
			color: white;
		}
	}
	.contact.map {
		h2 {
			align-self: flex-start;
		}
		iframe {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.contactMap .wrapper .contact.form form .faUserContainer i {
		left: 90%;
	}
}

@media (max-width: 640px) {
	.contactMap .wrapper {
		.contact {
			h2 {
				font-size: 2.5rem;
			}
		}
	}
}

@media (max-width: 630px) {
	.contactMap .wrapper {
		flex-direction: column;
		.contact {
			width: 95%;
			margin: 0 auto;
		}
		.contact.map {
			margin-top: 40px;
		}
	}
}

