.additionalLinks {
	background: #313131;
	.wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			li {
				list-style-type: none;
				padding: 0 12px;
				a {
					text-decoration: none;
					color: #4a4a4a;
					font-size: 1.3rem;
				}
				a:hover {
					color: $skyblue;
				}
			}
		}
		small {
			color: #4a4a4a;
			font-size: 1.3rem;
		}
	}
}

@media (max-width: 640px) {
	.additionalLinks .wrapper {
		flex-direction: column;
		ul, small {
			text-align: center;
			margin: 5px 0;
		}
	}
}