article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

section.about, section.blog, section.portfolio, section.skills {
  background: white;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #585858;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.5rem;
  margin: 70px 0;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
}

h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #585858;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50%;
}

#slideShow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

header {
  height: 100vh;
}

header .wrapper {
  position: relative;
  height: 100vh;
}

header ul.nav {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
  position: absolute;
}

header ul.nav li {
  margin: 0 20px;
}

header ul.nav li:last-of-type {
  margin-right: 0;
}

header ul.nav li:hover, header ul.nav li:focus {
  border-bottom: 1px dotted white;
}

header ul.nav a, header ul.nav p {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
}

header ul.nav p::before {
  content: "\f0d7";
  font-family: FontAwesome;
  left: 0;
  margin-right: 5px;
}

header ul.nav .nav__portfolio {
  position: relative;
}

header ul.nav .nav__portfolio ul {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  position: absolute;
  display: none;
  width: 200px;
  right: -50px;
  border-radius: 2%;
  transition: 0.3s;
}

header ul.nav .nav__portfolio ul li {
  border-bottom: 1px solid #a9a9b2;
  padding: 5px 12px;
  margin: 0;
  background: rgba(255, 255, 255, 0.9);
}

header ul.nav .nav__portfolio ul li a {
  color: #585858;
  font-size: 1.3rem;
}

header ul.nav .nav__portfolio ul li:last-of-type {
  border-bottom: none;
}

header ul.nav .nav__portfolio ul li:hover, header ul.nav .nav__portfolio ul li:focus {
  background: #83d3c9;
}

header ul.nav .nav__portfolio ul li:hover a, header ul.nav .nav__portfolio ul li:focus a {
  color: white;
}

header ul.nav .nav__portfolio ul .navSpace {
  opacity: 0;
  border: none;
  height: 10px;
  padding: 0;
}

header ul.nav .nav__portfolio:hover,
header ul.nav .nav__portfolio:focus {
  cursor: pointer;
  border: none;
}

header ul.nav .nav__portfolio:hover ul,
header ul.nav .nav__portfolio:focus ul {
  display: block;
}

.headerIntro--wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.headerIntro {
  width: 35%;
  min-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(52, 27, 43, 0.5);
  padding: 50px 0;
}

.headerIntro h1, .headerIntro h2, .headerIntro h3, .headerIntro a {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 60%;
  text-align: center;
}

.headerIntro h1 {
  font-size: 4.5rem;
  letter-spacing: 5px;
  border-top: 10px double white;
  border-bottom: 10px double white;
  padding: 10px;
}

.headerIntro h2 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 2.3rem;
  margin: 40px 0;
}

.headerIntro h2 a {
  text-decoration: none;
  border-bottom: 2px dotted white;
}

.headerIntro h2 a:hover, .headerIntro h2 a:focus {
  border-bottom: none;
}

.headerIntro h2::after {
  content: none;
}

.headerIntro > a {
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  border: 1px solid white;
  padding: 15px 0;
}

.headerIntro > a:hover, .headerIntro a:focus {
  background: rgba(255, 255, 255, 0.1);
}

.nextIcon {
  width: 5%;
  margin: 0 auto;
  margin-top: -5%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}

.menu i {
  font-size: 3.5rem;
  color: #585858;
  margin: 20px 20px 20px 0;
  z-index: 30;
}

.menu .menuSlider {
  display: flex;
  justify-content: flex-end;
  background: #585858;
  opacity: 0.7;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 20;
}

.menu .menuSlider ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding-right: 10px;
}

.menu .menuSlider li {
  padding: 20px 100px 20px 20px;
  width: 80%;
  margin: 0 40px;
  border-bottom: 1px solid #a9a9b2;
}

.menu .menuSlider .menuHeading {
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 3.1rem;
  letter-spacing: 1px;
  color: white;
  border: none;
}

.menu .menuSlider a {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}

.menu .menuSlider a:hover, .menu .menuSlider a:focus {
  color: #83d3c9;
}

.menu .showMenu {
  display: block;
}

.about {
  padding: 100px;
}

.about .wrapper {
  width: 65%;
}

.about p {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin: 20px;
  letter-spacing: 0.5px;
}

.about a {
  text-decoration: none;
  border-bottom: 1px dotted #585858;
  color: #585858;
}

.about a:hover, .about a:focus {
  color: #83d3c9;
  border-color: #83d3c9;
}

.skills {
  padding-top: 10px;
}

ul.skills__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

ul.skills__icons li {
  width: 31%;
  color: #c9cdd0;
  text-align: center;
  margin: 5px;
  margin-bottom: 10px;
}

ul.skills__icons li i {
  font-size: 6rem;
}

ul.skills__icons li p {
  margin: 10px 0;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: inherit;
}

ul.skills__icons li:hover,
ul.skills__icons li:focus {
  color: #585858;
}

.portfolio {
  padding-top: 10px;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio ul li {
  width: 50%;
  position: relative;
  flex-basis: 280px;
  flex-grow: 1;
  margin: 12px;
  transition: 0.3s;
}

.portfolio ul li img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.portfolio ul li .portfolioCover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 2%;
  top: 0;
  left: 0;
}

.portfolio ul li .portfolioCover h4 {
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 100px;
}

.portfolio ul li .portfolioCoverHidden {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  visibility: hidden;
  border-radius: 2%;
}

.portfolio ul li .portfolioCoverHidden p {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-top: 150px;
  padding: 0 10px;
}

.portfolio ul li:hover, .portfolio ul li:focus {
  transform: scale(1.11, 1.11);
  cursor: pointer;
}

.portfolio ul li:hover .portfolioCover,
.portfolio ul li:focus .portfolioCover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.portfolio ul li:hover .portfolioCoverHidden,
.portfolio ul li:focus .portfolioCoverHidden {
  visibility: visible;
}

.blog {
  padding-top: 10px;
}

.blog h2 {
  margin-top: 120px;
}

.blogLinks {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.blogLinks li {
  width: 50%;
  margin: 0 50px 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogLinks li img {
  width: 100%;
  border: 1px solid white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.blogLinks li h4 {
  color: #585858;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.blogLinks li a {
  text-decoration: none;
}

.blogLinks li a i {
  color: #585858;
}

.blogLinks li a:hover i, .blogLinks li a:focus i {
  color: #83d3c9;
}

footer {
  background: #f6f6f6;
  font-family: "Roboto", sans-serif;
  padding-bottom: 70px;
}

footer h2 {
  font-size: 2rem;
  text-align: left;
  margin: 70px 0 50px 0;
  font-weight: 700;
}

footer h2::after {
  content: none;
}

footer .footer__getInTouch {
  width: 70%;
  float: left;
  padding-right: 20px;
  margin-bottom: 50px;
}

footer .footer__getInTouch form {
  width: 100%;
  color: #a9a9b2;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

footer .footer__getInTouch form input[type=text],
footer .footer__getInTouch form input[type=email] {
  width: calc(50% - 10px);
  float: left;
  border: none;
  border-bottom: 1px solid #a9a9b2;
  padding: 3px 0 10px 3px;
  background: #f6f6f6;
}

footer .footer__getInTouch form input[type=text]:focus,
footer .footer__getInTouch form input[type=email]:focus {
  outline: none;
  border-bottom: 2px solid #83d3c9;
}

footer .footer__getInTouch form input[type=text] {
  margin-right: 20px;
}

footer .footer__getInTouch form textarea {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: #f6f6f6;
  color: #a9a9b2;
  border: none;
  border-bottom: 1px solid #a9a9b2;
  padding: 3px 0 3px 3px;
  resize: none;
}

footer .footer__getInTouch form textarea:focus {
  outline: none;
  border-bottom: 2px solid #83d3c9;
}

footer .footer__getInTouch form input[type=submit] {
  background: #585858;
  color: white;
  border: none;
  border-radius: 5%;
  padding: 10px 10px;
  margin-top: 30px;
  letter-spacing: 2px;
}

footer .footer__getInTouch form input[type=submit]:hover, footer .footer__getInTouch form input[type=submit]:focus {
  background: #83d3c9;
}

footer .footer__socialMedia {
  width: 30%;
  float: left;
  padding-left: 20px;
}

footer .footer__socialMedia ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

footer .footer__socialMedia ul li {
  list-style-type: none;
  width: 20%;
}

footer .footer__socialMedia ul li a {
  color: #585858;
  font-size: 2rem;
  text-decoration: none;
  border: 1px solid #585858;
  border-radius: 10%;
  padding: 7px 10px;
}

footer .footer__socialMedia ul li a:last-of-type {
  font-family: 'Cormorant Garamond', serif;
}

footer .footer__socialMedia ul li a:hover, footer .footer__socialMedia ul li a:focus {
  color: #83d3c9;
  border-color: #83d3c9;
}

footer .footer__legal {
  line-height: 15px;
}

footer .footer__legal p {
  color: #a9a9b2;
  clear: both;
  font-size: 1rem;
  letter-spacing: 1px;
}

footer .footer__legal a {
  text-decoration: none;
  border-bottom: 2px dotted #a9a9b2;
  color: #a9a9b2;
  letter-spacing: 1px;
}

footer .footer__legal a:hover, footer .footer__legal a:focus {
  color: #83d3c9;
  border-color: #83d3c9;
}
