#slideShow, img.bgM {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index:-9999;
}

header {
	height: 100vh;
	.wrapper {
		position: relative;
		height: 100vh;
	}
	.nav {
		padding-top: 30px;
		display: flex;
		width: 100%;
		justify-content: flex-end;
		font-family: $lato;
		font-size: 1.5rem;
		letter-spacing: 1px;
		color: white;
		position: absolute;
		& li {
			margin: 0 20px;
		}
		& li:last-of-type {
			margin-right: 0;
			&:hover {
				border: none;
			}
		}
		& li:hover, & li:focus {
			border-bottom: 1px dotted white;
		}
		a, p {
			text-decoration: none;
			color: white;
			font-family: $lato;
		}
		p::before {
			content: "\f0d7";
			font-family: FontAwesome;
			left: 0;
			margin-right: 5px;
		}
		.nav__portfolio {
			position: relative;
			border: none;
		}
		.nav__portfolio ul {
			display: flex;
			flex-direction: column;
			font-family: $lato;
			position: absolute;
			border-radius: 2%;
			transition: 0.3s;
			display: none;
			li {
				border-bottom: 1px solid $mischka;
				padding: 5px 12px;
				margin: 0;
				background: rgba(255,255,255,0.9);
				a {
					color: $darkGray;
					font-size: 1.3rem;
				}
			}
			li:last-of-type {
				border-bottom: none;
			}
			li:hover, li:focus{
				background: $turquoise;
				a {
					color: white;
				}
			}
			.navSpace {
				opacity: 0;
				border: none;
				height: 10px;
				padding: 0;
			}
		}
		.remove-hover:focus,
		.remove-hover:hover {
			cursor: pointer;
			border: none;
		}
		.remove-hover:focus ul,
		.remove-hover:hover ul {
			display: block;
		}
		ul.show{
			display: block;
		}
	}
}

.nav-up {
    top: -40px;
}

.headerIntro--wrapper {
	display: flex;
	align-items: center;
	height: 100vh;
}

.headerIntro {
	width: 35%;
	min-width: 280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(52,27,43,0.5);
	padding: 50px 0;
	h1, h2, h3, a {
		color: white;
		font-family: $roboto;
		width: 60%;
		text-align: center;
	}
	h1 {
		font-size: 4.5rem;
		letter-spacing: 5px;
		border-top: 10px double white;
		border-bottom: 10px double white;
		padding: 10px;
	}
	h2 {
		font-weight: 300;
		letter-spacing: 1px;
		font-size: 2.3rem;
		margin: 40px 0;
		a {
			text-decoration: none;
			border-bottom: 2px dotted white;
		}
		a:hover, a:focus {
			border-bottom: none;
		}
	}
	h2::after {
		content: none;
	}
	> a {
		font-size: 1.7rem;
		text-decoration: none;
		color: white;
		letter-spacing: 1px;
		font-weight: 700;
		border: 1px solid white;
		padding: 15px 0;
	}
	> a:hover, a:focus {
		background: rgba(255,255,255,0.1);
	}
}

.nextIconToAbout {
	width: 57px;
	height: 71.25px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 940px) {
	header {
		.nav {
			width: 97%;
		}
	}
}

@media (max-width: 768px) {
	.nextIconToAbout {
		display: none;
	}
}

@media (max-width: 640px) {
	header {
		height: auto;
		.wrapper {
			height: 100%;
		}
		.nav {
			justify-content: center;
		}
	}
}









