$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$darkGray: #585858;
$pink: #f28492;
$whiteSmoke: #f6f6f6;
$mischka: #a9a9b2;
$turquoise: #83d3c9;
$turquoise-transparent: rgba(131, 211, 201, 0.7);

