article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 1171px;
  margin: 0 auto;
}

body h2 {
  font-size: 2.9rem;
  font-weight: 400;
}

body h6 {
  font-size: 1.3rem;
  color: #696969;
}

header {
  width: 100%;
  background-image: linear-gradient(45deg, rgba(60, 187, 232, 0.85), rgba(83, 88, 91, 0.85)), url("../images/portfolioSiteImages/city_hero.jpeg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  color: white;
}

header h1, header h2, header h3 {
  text-align: center;
}

header .wrapper {
  position: relative;
}

.flexcontainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.flexcontainer > a {
  flex-grow: 1;
}

.flexcontainer ul {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.flexcontainer ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 0 22.5px;
}

.flexcontainer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.flexcontainer .headericons {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.flexcontainer .headericons .fa-shopping-cart, .flexcontainer .headericons .fa-search {
  color: white;
  background: #3caae0;
  padding: 12px;
  border: 1px solid #3caae0;
  border-radius: 50%;
  opacity: 0.8;
  margin-right: 15px;
}

.flexcontainer .headericons .fa-search {
  color: #3caae0;
  background: white;
  border-color: white;
}

.hamburgerMenu {
  display: none;
}

.flexcontainertext {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcontainertext h1 {
  font-size: 5.5rem;
  width: 70%;
  margin: 0 auto;
  padding: 0 30px;
}

.flexcontainertext h2 {
  font-size: 2.4rem;
  color: #b0c3ce;
}

@media (max-width: 863px) {
  .flexcontainer ul {
    margin: 0;
  }
  .flexcontainertext h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .flexcontainertext h1 {
    font-size: 4.5rem;
  }
  .flexcontainertext h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .flexcontainer .nav, .flexcontainer .headericons {
    display: none;
  }
  .hamburgerMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
  }
  .hamburgerMenu .fa-bars {
    font-size: 4rem;
    text-align: right;
    margin: 7px 15px 15px 0;
    z-index: 30;
    color: #969595;
  }
  .hamburgerMenu .fa-times {
    font-size: 4rem;
    text-align: right;
    margin: 7px 15px 15px 0;
    z-index: 30;
    color: #969595;
  }
  .hamburgerMenu .hamburgerNav {
    margin: 20px 0 0 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    transition: display 0.3s ease;
  }
  .hamburgerMenu .hamburgerNav li {
    list-style-type: none;
    padding: 20px 200px 20px 20px;
    border-bottom: 1px solid #696969;
  }
  .hamburgerMenu .hamburgerNav li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    color: #696969;
    font-weight: 600;
  }
  .hamburgerMenu .hamburgerNav li:last-of-type {
    border-bottom: none;
  }
  .hamburgerMenu .showMenu {
    display: block;
  }
}

.contactMap .wrapper {
  display: flex;
}

.contactMap .wrapper .contact {
  padding: 0 15px;
  width: 50%;
  margin-bottom: 100px;
}

.contactMap .wrapper .contact h2 {
  color: #696969;
}

.contactMap .wrapper .contact.form form {
  display: flex;
  flex-direction: column;
}

.contactMap .wrapper .contact.form form .faUserContainer {
  width: 100%;
}

.contactMap .wrapper .contact.form form .faUserContainer input,
.contactMap .wrapper .contact.form form .faUserContainer textarea {
  padding: 20px;
  margin-bottom: 6px;
  font-size: 1.3rem;
  border: 2px solid #f9f9f9;
  color: #a9a9a9;
  width: 100%;
}

.contactMap .wrapper .contact.form form .faUserContainer {
  position: relative;
}

.contactMap .wrapper .contact.form form .faUserContainer i {
  position: absolute;
  left: 93%;
  top: 50%;
  transform: translateY(-50%);
  color: #a9a9a9;
  font-size: 1.9rem;
}

.contactMap .wrapper .contact.form form .faUserContainer i.fa-comments {
  top: 13%;
}

.contactMap .wrapper .contact.form form input[type=submit] {
  border: none;
  padding: 20px;
  background: #3caae0;
  color: white;
}

.contactMap .wrapper .contact.map h2 {
  align-self: flex-start;
}

.contactMap .wrapper .contact.map iframe {
  width: 100%;
}

@media (max-width: 768px) {
  .contactMap .wrapper .contact.form form .faUserContainer i {
    left: 90%;
  }
}

@media (max-width: 640px) {
  .contactMap .wrapper .contact h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 630px) {
  .contactMap .wrapper {
    flex-direction: column;
  }
  .contactMap .wrapper .contact {
    width: 95%;
    margin: 0 auto;
  }
  .contactMap .wrapper .contact.map {
    margin-top: 40px;
  }
}

.contactMethods {
  background: #f9f9f9;
}

.contactMethods .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 0;
}

.contactMethods .wrapper .method {
  width: 30%;
  text-align: center;
  background: white;
  padding: 60px 20px;
}

.contactMethods .wrapper .method i {
  font-size: 2.3rem;
  color: #3caae0;
}

.contactMethods .wrapper .method p {
  color: #969595;
  font-size: 1.3rem;
}

.contactMethods .wrapper .method:hover {
  border: 1px solid #3caae0;
}

@media (max-width: 700px) {
  .contactMethods .wrapper {
    flex-direction: column;
  }
  .contactMethods .wrapper .method {
    width: 80%;
    margin: 20px;
    padding: 10px 20px;
  }
}

section.siteSocialLinks {
  background: #313131;
}

.siteSocialLinks .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.siteSocialLinks .wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.siteSocialLinks .wrapper ul li {
  margin: 0;
  padding: 0 6px;
  list-style-type: none;
  text-align: center;
}

.siteSocialLinks .wrapper ul li a {
  text-decoration: none;
  color: #969595;
  font-size: 1.3rem;
}

.siteSocialLinks .wrapper ul li a i {
  padding: 12px;
  background: #4a4a4a;
  border-radius: 50%;
}

.siteSocialLinks .wrapper ul li a p {
  color: #969595;
  font-size: 0.9rem;
  display: block;
}

.siteSocialLinks .wrapper ul li a:hover i {
  background: #3caae0;
  color: white;
}

.siteSocialLinks .wrapper ul li a:hover p {
  color: white;
}

@media (max-width: 680px) {
  .siteSocialLinks .wrapper {
    flex-direction: column;
  }
  .siteSocialLinks .wrapper ul li {
    padding: 0 15px;
  }
  .siteSocialLinks .wrapper img, .siteSocialLinks .wrapper .links.site, .siteSocialLinks .wrapper .links.social {
    margin: 10px 0;
  }
  .siteSocialLinks .wrapper img {
    order: 1;
  }
  .siteSocialLinks .wrapper .links.site {
    order: 2;
  }
  .siteSocialLinks .wrapper .links.social {
    order: 3;
  }
}

footer {
  background: #2d2d2d;
}

footer h6 {
  color: white;
}

footer .wrapper {
  display: flex;
}

footer .wrapper .footerAboutUs,
footer .wrapper .footerUsefulLinks,
footer .wrapper .footerRecentWork,
footer .wrapper .footerMailingList {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.footerAboutUs .aboutUs,
.footerAboutUs p {
  width: 100%;
  font-size: 1.3rem;
  color: #959595;
}

.footerAboutUs .aboutUs {
  border-bottom: 2px solid #4a4a4a;
}

.footerAboutUs .mail p::before {
  content: "\f003";
  font-family: FontAwesome;
  top: 0;
  left: 0;
  padding-right: 5px;
}

.footerAboutUs .phone p::before {
  content: "\f095";
  font-family: FontAwesome;
  top: 0;
  left: 0;
  padding-right: 5px;
}

.footerAboutUs .address {
  border: none;
}

.footerAboutUs .address p:first-of-type::before {
  content: "\f041";
  font-family: FontAwesome;
  top: 0;
  left: 0;
  padding-right: 5px;
}

.footerUsefulLinks ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footerUsefulLinks ul li {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  width: 50%;
}

.footerUsefulLinks ul li a {
  text-decoration: none;
  color: #959595;
  font-size: 1.3rem;
}

.footerUsefulLinks ul li a::before {
  content: "\f101";
  font-family: FontAwesome;
  color: #3caae0;
  font-size: 1.3rem;
  display: inline-block;
  padding-right: 10px;
}

.footerUsefulLinks ul li a:hover {
  color: white;
}

.footerUsefulLinks ul :first-child,
.footerUsefulLinks ul :nth-child(2) {
  padding-top: 0;
}

.footerRecentWork ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footerRecentWork ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 25%;
  padding: 2px;
}

.footerRecentWork ul li img {
  width: 100%;
}

.footerRecentWork p {
  color: #4a4a4a;
  font-size: 1.3rem;
}

.footerRecentWork p::after {
  content: "\f101";
  font-family: FontAwesome;
  color: #3caae0;
  font-size: 1.3rem;
  display: inline-block;
  padding-left: 10px;
}

.footerMailingList {
  color: #959595;
  font-size: 1.3rem;
}

.footerMailingList form {
  display: flex;
}

.footerMailingList form input[type=email] {
  width: 80%;
  padding: 15px 0 15px 10px;
}

.footerMailingList form input[type=submit] {
  width: 20%;
  border: none;
  background: #3caae0;
  color: white;
}

.footerMailingList form + p {
  font-size: 1.1rem;
  color: #4a4a4a;
  border-bottom: 2px solid #4a4a4a;
  padding-bottom: 20px;
}

.footerMailingList ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerMailingList ul li {
  list-style-type: none;
}

.footerMailingList ul li a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 1.5rem;
}

.footerMailingList ul li a:hover {
  color: #3caae0;
}

@media (max-width: 940px) {
  footer .wrapper {
    flex-wrap: wrap;
    align-items: center;
  }
  footer .wrapper .footerAboutUs,
  footer .wrapper .footerUsefulLinks,
  footer .wrapper .footerRecentWork,
  footer .wrapper .footerMailingList {
    width: 50%;
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  footer .wrapper .footerAboutUs,
  footer .wrapper .footerUsefulLinks,
  footer .wrapper .footerRecentWork,
  footer .wrapper .footerMailingList {
    width: 80%;
    margin: 0 auto;
  }
  footer .wrapper .footerMailingList {
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  footer .wrapper .footerUsefulLinks {
    display: none;
  }
}

.additionalLinks {
  background: #313131;
}

.additionalLinks .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.additionalLinks .wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.additionalLinks .wrapper ul li {
  list-style-type: none;
  padding: 0 12px;
}

.additionalLinks .wrapper ul li a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 1.3rem;
}

.additionalLinks .wrapper ul li a:hover {
  color: #3caae0;
}

.additionalLinks .wrapper small {
  color: #4a4a4a;
  font-size: 1.3rem;
}

@media (max-width: 640px) {
  .additionalLinks .wrapper {
    flex-direction: column;
  }
  .additionalLinks .wrapper ul, .additionalLinks .wrapper small {
    text-align: center;
    margin: 5px 0;
  }
}
